*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  padding: 5% 35%;
}

#form_box {
  height: 400px;
  width: 600px;
  padding: 20px;
  border: 3px solid black;
}

br {
  margin-bottom: 15px;
}

textarea {
  width: 100%;
}

input[type=text] {
  width: 100%;
}

select {
  width: 100%;
}

input[type=submit] {
  margin-left: 92%;
}
