<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New car form</title>
  </head>
  <body>
    <h4>Add New car info:</h4>
    <form class="" action="index.html" method="post">
      <label for="make">Make: </label>
      <br>
      <input type="text" name="make" value="">
      <br>
      <label for="model">Model: </label>
      <br>
      <input type="text" name="model" value="">
      <br>
      <label for="year">Year: </label>
      <br>
      <input type="text" name="year" value="">
      <br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
