*{
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

.box {
  height:150px;
  width: 200px;
  text-align: center;
  display: inline-block;
  border: 2px solid black;
  margin: 20px 0px;
  margin-right: 25px;
}

  .box>h3 {
    margin-top: 20px;
  }

  .box>p {
    margin-top: 20px;
    margin-bottom: 25px;
  }

.activities {
  width: 899px;
  height: 300px;
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 20px;
  overflow: scroll;
}

.red {
  color: maroon;
}

.green {
  color: green;
}

.flash {
  margin-bottom: 20px;
  color: red;
}
