<div class="main">
  <p>MainComponent</p>
  <p class="par">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo eligendi nulla unde accusantium porro consequatur, ipsum veritatis ipsa magni perspiciatis, aliquid sed a cupiditate minus aspernatur fuga, quis quibusdam sequi.</p>
  <p class="par">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores totam obcaecati qui hic esse vero dolor eos fugit sapiente expedita vel, mollitia ipsam, aliquid temporibus, tempora libero tenetur, odio?</p>
</div>
