<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
  </head>
  <body>
    <form class="" action="/register" method="post">
      <label for="first_name">First Name: </label>
      <input type="text" name="first_name" value="">
      <br>
      <label for="last_name">Last Name: </label>
      <input type="text" name="last_name" value="">
      <br>
      <label for="email">Email: </label>
      <input type="email" name="email" value="">
      <br>
      <label for="pass">Password</label>
      <input type="password" name="password" value="">
      <br>
      <label for="conf_password">Confirm: </label>
      <input type="password" name="conf_password" value="">
      <br>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <input type="submit" name="register" value="Register">
    </form>
    <form class="" action="/" method="get">
      <input type="submit" name="cancel" value="Cancel">
    </form>
  </body>
</html>
