<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My portfolio</title>
  </head>
  <body>
    <h1>Hi, I'm Richard Hendrix</h1>
    <h3>Welcom to My Portfolio</h3>
    <a href="{% url 'projects' %}">Projects</a>
    <p>I've worked on several projects most notable Pied Piper and piper chat.</p>
    <a href="{% url 'about'  %}">About</a>
    <p>I like middle out compression</p>
    <a href="{% url 'testimonials' %}">Testimonials</a>
    <p>What my peoples have to say about my work</p>
  </body>
</html>
